/* App.css */

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #EEEEFF;
  }
  
  .app-container {
    box-sizing: border-box;
  }
  
  .navbar {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7F7CAF;
    color: white;
    padding: 10px;
    /* border: 1px solid red; */
    font-weight: bold;
    letter-spacing: 1.2px;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  .navbar a:hover {
    background-color: white;
    color: #7F7CAF;
    transition: 0.3s ease-in-out;
  }
  
  .routes-container {
    padding: 20px;
  }
  